# PROGETTO BIONFORMATICA DV 
------------------------------------------------------------------------------------------------------------------------------

1. Leggere il file in un DataFrame, rimuovendo le righe che non si riferiscono al gene (il file contiene anche un miRNA)

In [56]:
import pandas as pd 
import itertools 
import re
import numpy as np
f_path="https://raw.githubusercontent.com/LorenzoMauri/Progetto-Bioinformatica/master/data/ace2.gtf"
df = pd.read_csv(f_path,sep='\t',skiprows=2,names=['chromosome','gene','start','end','score','strand','frame','attributes'])
test=df

In [2]:
#### lavoro su un df di test 
#1. come prima cosa trasformo la colonna attributes in colonne 

test

,chromosome,gene,start,end,score,strand,frame,attributes
X,Ensembl,gene,15464246,15556529,.,+,.,ID=ENSG00000102010.15;Name=ENSG00000102010.15;...
X,Ensembl,gene,15561033,15602148,.,-,.,ID=ENSG00000130234.11;Name=ENSG00000130234.11;...
X,Ensembl,gene,15561047,15675608,.,-,.,ID=ENSG00000285602.1;Name=ENSG00000285602.1;bi...
X,Ensembl,gene,15602881,15621484,.,+,.,ID=ENSG00000225833.1;Name=ENSG00000225833.1;bi...
X,Ensembl,gene,15627318,15675012,.,-,.,ID=ENSG00000147003.7;Name=ENSG00000147003.7;bi...

In [58]:
d={'ID':[],'Name':[],'Parent':[],'biotype':[]}        # per creare un df in pandas ho bisogno di un dizionario con key:values i nomi colonna 
                                                       # corrispondenti valori 

for i in range(0,len(test['attributes'])):
    lista=re.split(';',test['attributes'].iloc[i])              #creo una lista per la singola riga del df splittato

    for j in lista:
        categoria = re.findall('(.*)=',j)      #catturo nome colonna e valori 
        valore=re.findall('=(.*)',j)            # con le regex
        d[categoria[0]]+=valore                #aggiungo il valore alla lista corrispondente
        
    for w in list(d.values()):               # faccio un controllo : se le liste non hanno pari lunghezza significa che il campo è missing quindi
                                              # aggiungo un NA
        if len(w) ==i :
            w.append(np.nan)

In [65]:
df_reshaped = pd.DataFrame(d) 
df_reshaped

,ID,Name,Parent,biotype
0,ENSG00000102010.15,ENSG00000102010.15,NaN,protein_coding
1,ENSG00000130234.11,ENSG00000130234.11,NaN,protein_coding
2,ENSG00000285602.1,ENSG00000285602.1,NaN,protein_coding
3,ENSG00000225833.1,ENSG00000225833.1,NaN,lncRNA
4,ENSG00000147003.7,ENSG00000147003.7,NaN,protein_coding
...,...,...,...,...
1519,NaN,ENSESTE00000059618,ENSESTT00000015656.1,NaN
1520,NaN,ENSESTE00000059619,ENSESTT00000015656.1,NaN
1521,NaN,ENSESTE00000059621,ENSESTT00000015656.1,NaN
1522,NaN,ENSESTE00000059609,ENSESTT00000015656.1,NaN
1523,NaN,ENSESTE00000059614,ENSESTT00000015656.1,NaN

In [63]:
test.shape

(1524, 8)